<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="refresh" content="0; URL=@root_path">
		
		<link rel="icon" href="@root_path/favicon.ico" type="image/x-icon">

		<title>@website</title>
		<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
		<link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen">
		<script type="text/javascript" src="@root_path/public/docs/js/less.js" type="text/javascript"></script>

	</head>

	<body>
  	</body>
</html>