<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
     <link rel="icon" href="@root_path/favicon.ico" type="image/x-icon">
   <title>Samuel Rivers-Moore</title>
    <link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
    <link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen"> 
  </head>
  <body>
    <div id="cvCont">
      <h1>
        <div id="repotitle">Samuel Rivers-Moore</div>
      </h1>
      <em>@email</em>
      <hr>
	<br>
      <div id="cv">
      <div class="texte">CONTACT :<br> @contact<br></div>
      <div class="texte">EXPÉRIENCE :<br> @experience<br></div>
      <div class="texte">ÉDUCTAION :<br> @education<br></div>
      <div class="texte">SKILLS :<br> @skills<br></div>
      </div>
      <div id="footer">
      <hr>
	<br>
      <p class="col six">&copy; Copyright @name @current_year <a class="atom-rss" href="@root_path/?/feed/">RSS</a><br>
        <em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>
        </div>
    </div>
  </body>
</html>